@function headings($from:1, $to:6) {
    @if $from == $to {
        @return 'h#{$from}';
    } @else {
        @return 'h#{$from},' + headings($from+1, $to);
    }
}

#{headings(1,6)} {
	font-family: 'Lobster', sans-serif;
}

h1 {
	font-size: 4.5rem;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 1.1875rem;
}

#main {
    padding-top: 8rem;
}

#games {
    height: 270px;
    position: relative;
    overflow: hidden;
}

.game {
    padding-bottom: 2rem;
    position: absolute;
    width: 100%;

    .game__image {
        height: 184px;
        
        img {
            border-radius: 1rem;
            width: 75%;
        }
    }

    .game__name {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.double-margin {
    margin-top: 2rem;
}